code.txt
[{"id":"4fcccd78.279644","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b4c78935.58da98","type":"sensor_mpu9250","z":"4fcccd78.279644","name":"sensor_mpu9250","x":270,"y":160,"wires":[["ff4a142c.5cd278","5710d870.252778","ff1b12a0.a4f8f","fe1fd48.3dd1628","3f1711c8.3f641e","ef82bd68.422fa"]]},{"id":"ff4a142c.5cd278","type":"debug","z":"4fcccd78.279644","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":40,"wires":[]},{"id":"a9240472.e35c48","type":"inject","z":"4fcccd78.279644","name":"1 sec","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"method\":\"getAll\",\"stream\":true,\"streamIntervalMs\":1000}","payloadType":"json","x":110,"y":80,"wires":[["b4c78935.58da98"]]},{"id":"5710d870.252778","type":"function","z":"4fcccd78.279644","name":"","func":"msg.payload=Math.round(msg.payload.Temperature)-3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":100,"wires":[["c71d161.eebaae8"]]},{"id":"c71d161.eebaae8","type":"ui_gauge","z":"4fcccd78.279644","name":"Temperature","group":"4f2eaf4c.be7b7","order":4,"width":"3","height":"3","gtype":"gage","title":"Temperature","label":"celsius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":100,"wires":[]},{"id":"ff1b12a0.a4f8f","type":"function","z":"4fcccd78.279644","name":"","func":"var Newmsgx = {};\nvar Newmsgy = {};\nvar Newmsgz = {};\nNewmsgx.payload=Math.round(msg.payload.Accel.x);  \nNewmsgy.payload=Math.round(msg.payload.Accel.y);  \nNewmsgz.payload=Math.round(msg.payload.Accel.z);  \nNewmsgx.topic = \"x\";\nNewmsgy.topic = \"y\";\nNewmsgz.topic = \"z\";\nreturn [Newmsgx,Newmsgy,Newmsgz];","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":200,"wires":[["c0e6d0de.3b62d"],["c0e6d0de.3b62d"],["c0e6d0de.3b62d"]]},{"id":"c0e6d0de.3b62d","type":"ui_chart","z":"4fcccd78.279644","name":"Accelerometer(g)","group":"4f2eaf4c.be7b7","order":1,"width":"6","height":"6","label":"Accelerometer(g)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":690,"y":200,"wires":[[]]},{"id":"fe1fd48.3dd1628","type":"function","z":"4fcccd78.279644","name":"","func":"var Newmsgx = {};\nvar Newmsgy = {};\nvar Newmsgz = {};\nNewmsgx.payload=Math.round(msg.payload.Gyro.x);  \nNewmsgy.payload=Math.round(msg.payload.Gyro.y);  \nNewmsgz.payload=Math.round(msg.payload.Gyro.z);  \nNewmsgx.topic = \"x\";\nNewmsgy.topic = \"y\";\nNewmsgz.topic = \"z\";\nreturn [Newmsgx,Newmsgy,Newmsgz];","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":260,"wires":[["5a477272.d6d6cc"],["5a477272.d6d6cc"],["5a477272.d6d6cc"]]},{"id":"5a477272.d6d6cc","type":"ui_chart","z":"4fcccd78.279644","name":"Gyro(degree/sec)","group":"4f2eaf4c.be7b7","order":2,"width":"6","height":"6","label":"Gyro(degree/sec)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":690,"y":260,"wires":[[]]},{"id":"ef82bd68.422fa","type":"function","z":"4fcccd78.279644","name":"","func":"var Newmsgx = {};\nvar Newmsgy = {};\nvar Newmsgz = {};\nNewmsgx.payload=Math.round(msg.payload.Mag.x);  \nNewmsgy.payload=Math.round(msg.payload.Mag.y);  \nNewmsgz.payload=Math.round(msg.payload.Mag.z);  \nNewmsgx.topic = \"x\";\nNewmsgy.topic = \"y\";\nNewmsgz.topic = \"z\";\nreturn [Newmsgx,Newmsgy,Newmsgz];","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":320,"wires":[["7757b85d.ffb8e8"],["7757b85d.ffb8e8"],["7757b85d.ffb8e8"]]},{"id":"7757b85d.ffb8e8","type":"ui_chart","z":"4fcccd78.279644","name":"Mag(uT)","group":"4f2eaf4c.be7b7","order":3,"width":"6","height":"6","label":"Mag(uT)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":660,"y":320,"wires":[[]]},{"id":"3f1711c8.3f641e","type":"function","z":"4fcccd78.279644","name":"","func":"msg.payload=Math.round(msg.payload.Compass.heading);  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":140,"wires":[["e8b430d8.97fd2"]]},{"id":"e8b430d8.97fd2","type":"ui_gauge","z":"4fcccd78.279644","name":"","group":"4f2eaf4c.be7b7","order":5,"width":"3","height":"3","gtype":"compass","title":"Compass","label":"degree","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":140,"wires":[]},{"id":"4e24c82b.4b3b18","type":"inject","z":"4fcccd78.279644","name":"10sec","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"method\":\"getAll\",\"stream\":true,\"streamIntervalMs\":10000}","payloadType":"json","x":110,"y":40,"wires":[["b4c78935.58da98"]]},{"id":"7c18c7e0.e8ae78","type":"ui_template","z":"4fcccd78.279644","group":"4f2eaf4c.be7b7","name":"Camera","order":12,"width":"11","height":"8","format":"    <script type=\"text/javascript\">\n\n    var reader = new XMLHttpRequest();\n    var checkFor = \"http://\" + self.location.hostname + \"/html/min.php\"; //Add the first link\n//    var checkFor = \"http://172.20.10.2/html/min.php\"; //Add the first link\n    var second = \"http://127.0.0.1/html/min.php\"; //Add the alternative\n\n    if(navigator.onLine){\n    reader.open('get', checkFor, true);\n    reader.onreadystatechange = checkReadyState;\n}\nelse{\n           document.getElementById('site').src = second;\n}\n    function checkReadyState() {\n//        if (reader.readyState === 4) {\n            if ((reader.status == 200) || (reader.status == 0)) {\n//            if ((reader.status == 200)) {\n            document.getElementById('site').src =  checkFor;\n            }\n            else {\n           document.getElementById('site').src = second;\n            return;\n            }\n        }\n//    }\n    reader.send(null);\n</script>\n\n<iframe scrolling=no marginwidth=0 marginheight=0 frameborder=0 height=439 width=553 id=\"site\" src=\"\"></iframe>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":300,"y":360,"wires":[[]]},{"id":"85007731.e58448","type":"ui_button","z":"4fcccd78.279644","name":"","group":"4f2eaf4c.be7b7","order":10,"width":"3","height":"1","passthru":false,"label":"Enable graph","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{     \"method\": \"getAll\",     \"stream\": true,     \"streamIntervalMs\": 1000 }","payloadType":"json","topic":"topic","topicType":"msg","x":90,"y":240,"wires":[["b4c78935.58da98"]]},{"id":"23fd824f.d8fc6e","type":"ui_button","z":"4fcccd78.279644","name":"","group":"4f2eaf4c.be7b7","order":11,"width":"3","height":"1","passthru":false,"label":"Disable graph","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"method\":\"getAll\",\"stream\":false}","payloadType":"json","topic":"topic","topicType":"msg","x":100,"y":280,"wires":[["b4c78935.58da98"]]},{"id":"e0288f87.fa99b","type":"serial in","z":"4fcccd78.279644","name":"","serial":"25683341.10ea7c","x":840,"y":40,"wires":[["8257a592.cd63e8","ea2cb45d.4630c8"]]},{"id":"4d5273b2.72e65c","type":"debug","z":"4fcccd78.279644","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1250,"y":100,"wires":[]},{"id":"744ebd81.084fa4","type":"ui_text","z":"4fcccd78.279644","group":"4f2eaf4c.be7b7","order":15,"width":"3","height":"1","name":"","label":"latitude","format":"{{msg.payload}}","layout":"row-spread","x":1240,"y":160,"wires":[]},{"id":"a544d193.2bbac","type":"nmea","z":"4fcccd78.279644","name":"","property":"payload","outputProperty":"payload","x":850,"y":160,"wires":[["f0f8b1b7.b0709","794b36f0.61ce08","c11d3d0d.6f9e","5ac8f73d.198318","45009cea.1d9394"]]},{"id":"8257a592.cd63e8","type":"debug","z":"4fcccd78.279644","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":40,"wires":[]},{"id":"f0f8b1b7.b0709","type":"function","z":"4fcccd78.279644","name":"","func":"//msg.payload=Number.parseFloat(msg.payload.lat).toFixed(5);  \nmsg.payload=msg.payload.lat;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":160,"wires":[["744ebd81.084fa4","4d5273b2.72e65c"]]},{"id":"538bf184.4c78a","type":"ui_text","z":"4fcccd78.279644","group":"4f2eaf4c.be7b7","order":16,"width":"3","height":"1","name":"","label":"longitude","format":"{{msg.payload}}","layout":"row-spread","x":1240,"y":220,"wires":[]},{"id":"794b36f0.61ce08","type":"function","z":"4fcccd78.279644","name":"","func":"//msg.payload=Number.parseFloat(msg.payload.lon).toFixed(5);  \nmsg.payload=msg.payload.lon;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":220,"wires":[["538bf184.4c78a"]]},{"id":"c11d3d0d.6f9e","type":"function","z":"4fcccd78.279644","name":"","func":"msg.payload.name='CubeSat';  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":340,"wires":[["9bc5dfb6.59022","89fe0753.935c58"]]},{"id":"89fe0753.935c58","type":"debug","z":"4fcccd78.279644","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1250,"y":400,"wires":[]},{"id":"230496cf.cf212a","type":"inject","z":"4fcccd78.279644","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":500,"wires":[["fe55e5c0.05a228"]]},{"id":"3d508021.ae47f","type":"rbe","z":"4fcccd78.279644","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":510,"y":500,"wires":[["4b9ae8b2.cbff38"]]},{"id":"fe55e5c0.05a228","type":"i2c in","z":"4fcccd78.279644","name":"","busno":"1","address":"54","command":"4","count":"1","x":250,"y":500,"wires":[["e2593030.aa341"]]},{"id":"e2593030.aa341","type":"function","z":"4fcccd78.279644","name":"","func":"var capacity;\ncapacity = parseInt(msg.payload);\nif (capacity > 100){\n    msg.payload = '100%';\n}\nelse{\n    msg.payload = msg.payload + '%';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":500,"wires":[["3d508021.ae47f"]]},{"id":"c7db0d02.35b1c","type":"inject","z":"4fcccd78.279644","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"str","x":90,"y":560,"wires":[["92b7a244.d5de1","71517c82.c45a44"]]},{"id":"7758bdc2.339f64","type":"i2c in","z":"4fcccd78.279644","name":"LightSensor2","busno":"1","address":"72","command":"67","count":"1","x":550,"y":560,"wires":[["6c9d536.fbff8ac"]]},{"id":"92b7a244.d5de1","type":"i2c out","z":"4fcccd78.279644","name":"","busno":"1","address":"72","command":"0","payload":"payload","payloadType":"msg","count":"1","x":410,"y":560,"wires":[["7758bdc2.339f64"]]},{"id":"d815753d.d50718","type":"i2c in","z":"4fcccd78.279644","name":"LightSensor3","busno":"1","address":"72","command":"64","count":"1","x":550,"y":600,"wires":[["c2472017.e0a03"]]},{"id":"4d10e883.96b2c8","type":"i2c out","z":"4fcccd78.279644","name":"","busno":"1","address":"72","command":"0","payload":"payload","payloadType":"msg","count":"1","x":410,"y":600,"wires":[["d815753d.d50718"]]},{"id":"ab02fcf4.79a29","type":"i2c in","z":"4fcccd78.279644","name":"LightSensor0","busno":"1","address":"72","command":"65","count":"1","x":550,"y":640,"wires":[["3ece3648.c9c6fa"]]},{"id":"14546e47.98f9a2","type":"i2c out","z":"4fcccd78.279644","name":"","busno":"1","address":"72","command":"0","payload":"payload","payloadType":"msg","count":"1","x":410,"y":640,"wires":[["ab02fcf4.79a29"]]},{"id":"a6f54c32.3ba99","type":"i2c in","z":"4fcccd78.279644","name":"LightSensor1","busno":"1","address":"72","command":"66","count":"1","x":550,"y":680,"wires":[["4ba963d5.5d859c"]]},{"id":"c39c399e.aee7b8","type":"i2c out","z":"4fcccd78.279644","name":"","busno":"1","address":"72","command":"0","payload":"payload","payloadType":"msg","count":"1","x":410,"y":680,"wires":[["a6f54c32.3ba99"]]},{"id":"71517c82.c45a44","type":"delay","z":"4fcccd78.279644","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":230,"y":600,"wires":[["4d10e883.96b2c8","2b33deed.e1ed52"]]},{"id":"2b33deed.e1ed52","type":"delay","z":"4fcccd78.279644","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":230,"y":640,"wires":[["14546e47.98f9a2","378c8629.eec22a"]]},{"id":"378c8629.eec22a","type":"delay","z":"4fcccd78.279644","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":230,"y":680,"wires":[["c39c399e.aee7b8"]]},{"id":"6c9d536.fbff8ac","type":"ui_text","z":"4fcccd78.279644","group":"4f2eaf4c.be7b7","order":8,"width":"3","height":"1","name":"","label":"PhotoSensor2","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":560,"wires":[]},{"id":"c2472017.e0a03","type":"ui_text","z":"4fcccd78.279644","group":"4f2eaf4c.be7b7","order":9,"width":"3","height":"1","name":"","label":"PhotoSensor3","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":600,"wires":[]},{"id":"3ece3648.c9c6fa","type":"ui_text","z":"4fcccd78.279644","group":"4f2eaf4c.be7b7","order":6,"width":"3","height":"1","name":"","label":"PhotoSensor0","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":640,"wires":[]},{"id":"4ba963d5.5d859c","type":"ui_text","z":"4fcccd78.279644","group":"4f2eaf4c.be7b7","order":7,"width":"3","height":"1","name":"","label":"PhotoSensor1","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":680,"wires":[]},{"id":"4b9ae8b2.cbff38","type":"ui_text","z":"4fcccd78.279644","group":"4f2eaf4c.be7b7","order":18,"width":"3","height":"1","name":"","label":"Battery","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":500,"wires":[]},{"id":"5ac8f73d.198318","type":"debug","z":"4fcccd78.279644","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":100,"wires":[]},{"id":"48cb1d59.75d324","type":"ui_text","z":"4fcccd78.279644","group":"4f2eaf4c.be7b7","order":13,"width":"12","height":"1","name":"","label":"Time","format":"{{msg.payload}}","layout":"row-spread","x":1230,"y":280,"wires":[]},{"id":"45009cea.1d9394","type":"function","z":"4fcccd78.279644","name":"","func":"//msg.payload=Number.parseFloat(msg.payload.lon).toFixed(5);  \nif(msg.payload.hasOwnProperty(\"dateTime\")){\nmsg.payload=msg.payload.dateTime.toString();  \nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":280,"wires":[["48cb1d59.75d324"]]},{"id":"dec1db6c.3a9008","type":"exec","z":"4fcccd78.279644","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"RPi Temp.","x":310,"y":440,"wires":[["af087301.0e63c"],[],[]]},{"id":"af087301.0e63c","type":"function","z":"4fcccd78.279644","name":"","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":440,"wires":[["4aeb5945.1f8158"]]},{"id":"1026288c.13c7a7","type":"inject","z":"4fcccd78.279644","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"10","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":110,"y":440,"wires":[["dec1db6c.3a9008"]]},{"id":"4aeb5945.1f8158","type":"ui_text","z":"4fcccd78.279644","group":"4f2eaf4c.be7b7","order":17,"width":"3","height":"1","name":"","label":"CPU temp","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":440,"wires":[]},{"id":"ea2cb45d.4630c8","type":"function","z":"4fcccd78.279644","name":"filter","func":"if (!(msg.payload.includes('$GPTXT')||msg.payload.includes('$GPZDA'))){\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":100,"wires":[["a544d193.2bbac"]]},{"id":"c5c0f170.3b9b9","type":"ui_button","z":"4fcccd78.279644","name":"","group":"971a0963.ebcb68","order":1,"width":"3","height":"1","passthru":false,"label":"Reboot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":940,"y":560,"wires":[["de3d3a4d.b493e8"]]},{"id":"de3d3a4d.b493e8","type":"exec","z":"4fcccd78.279644","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":1158,"y":560,"wires":[[],[],[]]},{"id":"33375a52.6201e6","type":"ui_button","z":"4fcccd78.279644","name":"","group":"971a0963.ebcb68","order":2,"width":"3","height":"1","passthru":false,"label":"Shutdown","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":940,"y":600,"wires":[["a3cdac9d.eba66"]]},{"id":"a3cdac9d.eba66","type":"exec","z":"4fcccd78.279644","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":1160,"y":620,"wires":[[],[],[]]},{"id":"9bc5dfb6.59022","type":"ui_worldmap","z":"4fcccd78.279644","group":"4f2eaf4c.be7b7","order":14,"width":"8","height":"7","name":"","lat":"22","lon":"114","zoom":"8","layer":"OSM","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":1240,"y":340,"wires":[]},{"id":"4f2eaf4c.be7b7","type":"ui_group","name":"Mission Control","tab":"f824a26d.3281a","order":1,"disp":true,"width":"24","collapse":false},{"id":"25683341.10ea7c","type":"serial-port","serialport":"/dev/ttyS0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"971a0963.ebcb68","type":"ui_group","name":"Emergency Control","tab":"f824a26d.3281a","order":2,"disp":true,"width":"6","collapse":false},{"id":"f824a26d.3281a","type":"ui_tab","name":"CubeSat","icon":"dashboard","disabled":false,"hidden":false}]